<section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>EMPLOYEE MANGEMENT SYSTEM</strong></h3>
      <!-- <h1>Manage Employee Details</h1> -->
      <!-- <h2>Your work environment can greatly influence how you feel about your job.</h2> -->
      <p>
        Good work environment and culture. <br>Teammates are supportive and the management is transparent. 
        <br>Company policies are good, appraisals are <br>
        fair and they give good salary hike and bonus every year
      </p>
    </div>
</section>

