<div class="login-form">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Login</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" novalidate #loginForm="ngForm">

                            <div class="col-md-12">
                                <input class="form-control" type="text" name="name" placeholder="User Name" required [(ngModel)]="user.name">
                                <div class="valid-feedback">Username field is valid!</div>
                                <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="password" name="password" placeholder="Password"
                                    required [(ngModel)]="user.password">
                                <div class="valid-feedback">Password field is valid!</div>
                                <div class="invalid-feedback">Password field cannot be blank!</div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-control-label px-3">Role<span class="text-danger"> *</span></label>
                                <select class="form-select mt-3" id="role" name="role" placeholder="Select the Role"
                                    aria-label="Default select example" [(ngModel)]="roleservice.roleValue"
                                    value="role1" required> 
                                    <h3><label>Role</label></h3>
                                    <option selected disabled>Open this select Role</option>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                </select>
                                {{roleservice.roleValue}}
                            </div>
                            <div class="col-md-12">

                                <button *ngIf="roleservice.roleValue === 'admin'"    class="btn btn-primary me-3"
                                    value="Login" (click)="displayAdmin(loginForm)">Admin Login</button>
                                <button *ngIf="roleservice.roleValue === 'user'" class="btn btn-primary me-3"
                                    value="Login" (click)="displayUser(loginForm)">User Login</button>
                                

                            </div>
                            <!-- <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Register</button>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









