<div class="container">

    <form class="border bg-secondary text-white  w-50 p-5" #userForm="ngForm" novalidate>
        <h1 class="h4 mb-4">Login</h1>

        <div class="form-login">
            <h3><label>UserName</label></h3>
            <input type="text" #username="ngModel" class="form-control"
                [class.is-invalid]="username.invalid && username.touched" name="username"
                placeholder="Enter the Username" [(ngModel)]="user.username" required>
            <small class="text-danger" [class.d-none]="username.valid || username.untouched">Name is required</small>
        </div>

        <div class="form-login">
            <h3><label>Password</label></h3>
            <input type="password" #password="ngModel" class="form-control"
                [class.is-invalid]="password.invalid && password.touched" name="password"
                placeholder="Enter the Password" [(ngModel)]="user.password" required>
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is
                required</small><br>
        </div><br>
        <div class="form-login">
            <label class="form-control-label px-3">Role<span class="text-danger"> *</span></label>
            <select class="form-select" id="role" name="role" placeholder="Select the Role"
                aria-label="Default select example" [(ngModel)]="roleservice.roleValue" value="role1" required>
                <h3><label>Role</label></h3>
                <option selected disabled>Open this select Role</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            {{roleservice.roleValue}}
        </div>
        <!-- 
        <button [disabled]="userForm.form.invalid" color="info" type="submit" class="btn btn-primary"
            (click)="btnClick()">Login</button><br><br> -->
        <div class="form-login">
            <button *ngIf="roleservice.roleValue === 'admin'" class="btn btn-primary me-3" value="Login"
                (click)="displayAdmin()">Admin Login</button>
            <button *ngIf="roleservice.roleValue === 'user'" class="btn btn-primary me-3" value="Login"
                (click)="displayUser()">User Login</button>

        </div>
        <!-- <button class="btn btn-primary" (click)="display()">LOGIN</button> -->

    </form>
</div>