.card-img-top:hover {
  transform: scale(1.1);
}

.card {
  margin: 5rem 5rem;
  position: relative;
}

.card-body {
  z-index: 2;
  position: absolute;
  font-weight: 400;
  font-size: x-large;
  text-align: center;
  width: 110%;
  bottom: 0;
}

.cover {
  background-image: url('https://www.teahub.io/photos/full/232-2327450_hd-business-wallpaper-professional-background-hd-design.jpg');
  background-size: cover;
  height: 74vh;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  background-attachment: fixed;
}


#role-title {
  font-size: 100px;
  letter-spacing: -1px;
  color: rgb(37, 161, 209);
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000;
  margin: 10px 0 24px;
  text-align: center;
  line-height: 50px;
}