<div class="role-comp">
    <h1 class="text-center" id="role-title">Role</h1>
    <div class="container">
            <div class="row">
                    <div class="col">
                            <img src="https://static.thenounproject.com/png/4669369-200.png">

                    </div>
                    <div class="col">
                            <img src="https://static.thenounproject.com/png/4669369-200.png">
                    </div>
            </div>
            <div class="row">
                    <div class="col">
                            <button class="btn btn-dark " [routerLink]="['/admintable']">ADMIN</button>
                    </div>
                    <div class="col">
                            <button class="btn btn-dark" [routerLink]="['/usertable']">USER</button>
                    </div>
            </div>
    </div>
</div>

<!-- <section class="wrapper">
        <div class="container">
          <div class="row">
            <div class="col text-center mb-5">
               <h1 class="display-4">User Managemnet</h1>
        <p class="lead"> Roles </p>
            </div>
          </div>
        <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
               <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
               <div class="card-body">
                  <small class="card-meta mb-2">LogIn</small>
                  <h4 class="card-title mt-0 "><a class="text-white" herf="#">Admin </a></h4>
                 <small><i class="far fa-clock"></i> Admin management</small>
                </div>
                <div class="card-footer">
                 <div class="media">
        <img class="mr-3 rounded-circle" src="https://images.all-free-download.com/images/graphicwebp/administrator_99287.webp" alt="Generic placeholder image" style="max-width:50px">
        <div class="media-body">
          <h6 class="my-0 text-white d-block"></h6>
           

         
        <small> <button class="btn btn-dark " [routerLink]="['/admintable']">ADMIN</button></small>

        </div>
      </div>
                </div>
              </div>
            </div></div>
        






           <div class="col-sm-12 col-md-6 col-lg-4 mb-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
               <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                   <small class="card-meta mb-2">LogIn</small>
                   <h4 class="card-title mt-0 "><a class="text-white" herf="#">User </a></h4>
                  <small><i class="far fa-clock"></i> User management</small>
                 </div>
                 <div class="card-footer">
                  <div class="media">
         <img class="mr-3 rounded-circle" src="https://images.all-free-download.com/images/graphicwebp/administrator_99287.webp" alt="Generic placeholder image" style="max-width:50px">
         <div class="media-body">
           <h6 class="my-0 text-white d-block"></h6>
        
         <small> <button class="btn btn-dark" [routerLink]="['/usertable']">USER</button></small>
 
         </div>
       </div>
                 </div>
               </div>
             </div></div>   
        
      </div>
        
      </div>
      </section> -->
      