<div class="table table-dark" style="margin-top: 20px;">
    <h2 class="text-center">
        <strong>Admin table</strong>
    </h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Phone no</th>
                <th>Topic</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            <tr>
            <tr *ngFor="let u of admins['admin']">
                <td>{{u._id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.gender}}</td>
                <td>{{u.phone}}</td>
                <td>{{u.topic}}</td>
                <td>

            <tr>
                <button type=" submit " (click)="remove(u._id) " class="btn btn-danger  mr-3">Remove</button>
                <button type=" submit " (click)="onEdit(u._id) " class="btn btn-info "
                    [routerLink]="['/update',u._id] "> Edit</button>

            </tr>
            </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button [routerLink]="['/admin']" class="btn btn-primary mr-3 ">Add Admin</button>
        <button type="submit" [routerLink]="['/adminrole']" class="btn btn-primary me-3 ">Back</button>
    </div>
</div>