<div>
    <div class="table table-dark" style="margin-top: 20px;">
        <h2 class="text-center">
            <strong>Employee Details:</strong>
        </h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Topic</th>
                    <th>Role</th>
                    <th *ngIf="roleService.roleValue=='admin'">Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users['users']">

                    <td>{{u._id}}</td>
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.gender}}</td>
                    <td>{{u.phone}}</td>
                    <td>{{u.topic}}</td>
                    <td>{{u.role.roleType}}</td>
                    <div *ngIf="roleValue==='admin'">
                        <button type="submit" (click)="remove(u._id)" class="btn btn-danger mr-3">Remove</button>
                        <button type="submit" (click)="onEdit(u._id)" class="btn btn-info"
                            [routerLink]="['/updateUser',u._id]"> Edit</button>
                    </div>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
                <button [routerLink]="['/add-user']" class="btn btn-primary me-5">Add+
                </button>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" [routerLink]="['/adminrole']" class="btn btn-primary">Back</button>&nbsp;
    </div>
</div>