<div>
    <div class="table table-dark" style="margin-top: 20px;">
        <h2 class="text-center">
            Details
        </h2>
        <!-- <button class="btn btn-light">Edit Profile</button> -->


        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Topic</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users['users']">

                    <td>{{u._id}}</td>
                    <td>{{u.name}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.gender}}</td>
                    <td>{{u.phone}}</td>
                    <td>{{u.topic}}</td>
                    <button type="submit" (click)="remove(u._id)" class="btn btn-danger">Remove</button>&nbsp;
                    <button type="submit" (click)="onEdit(u._id)" class="btn btn-info" [routerLink]="['/updateUser',u._id]"> Edit</button>

                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a [routerLink]="['/add-user']" class="btn btn-primary me-5">Add
                User</a>&nbsp;
            <button type="submit" [routerLink]="['/adminrole']" class="btn btn-primary me-3">Back</button>&nbsp;

            <!-- <button type="submit"  [routerLink]="['/']" class="btn btn-danger">Logout</button> -->
        </div>
    </div>
</div>