<section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>EMPLOYEE MANGEMENT SYSTEM</strong></h3>
      <h1>Manage Employee Details</h1>
      <h2>Your work environment can greatly influence how you feel about your job.</h2>
      <a type="submit" [routerLink]="['/login']" class="btn-get-started scrollto mb-3">Login</a>
      <a type="submit" [routerLink]="['/register']" class="btn-get-started scrollto">Register</a>
      <a *ngIf="!authService.loggedIn()" class="tn-get-started scrollto mb-3"
                                     (click)="!authService.loggedIn()">Logout</a>
    </div>
  </section>

<!-------------------------------------------------------------------------------------------------->
<!-- <div>
    <nav class="navbar navbar-expand-lg navbar-white bg-dark">
        <i class="bi-person-circle"></i>&nbsp;

        <a class="navbar-brand" href="#">User Management System</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#">About us</a>
                <a class="nav-item nav-link" href="#">Contact</a>

                <a clerrors class="invalid-feedback"></a>
                <div class="wrapper">
                    <div class="form-head">
                        <h1>User Management System</h1>
                        <div>
                            <ul>
                                <li>
                                    <button class="btn btn-success" aria-current="page" routerLinkActive="active"
                                        (click)="logIn()" *ngIf="!display" [routerLink]="['/login']"
                                        style="color: aliceblue;">Get   </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->