<div class="registration-form">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Registration Page</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" novalidate #registerForm="ngForm">

                            <div class="col-md-12">
                                <label>Email</label>
                                <input  [(ngModel)]="userService.email" name="email" type="text" placeholder = "Enter the Mail ID" class="form-control rounded-0" required>
                                <div class="valid-feedback">Username field is valid!</div>
                                <div class="invalid-feedback">Username field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                                <label>Password</label>
                                <input  [(ngModel)]="userService.password" name="password" type="password" placeholder="Enter the Password" class="form-control rounded-0" required>

                                <div class="valid-feedback">Password field is valid!</div>
                                <div class="invalid-feedback">Password field cannot be blank!</div>
                            </div>

                            <div class="col-md-12">
                            <button (click)="registerUser(registerForm)" type="button" class="btn btn-primary me-3">Register</button>

                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








